name: Pre-commit Hooks

on:
  push:
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      
      - name: Install cppcheck
        run: sudo apt-get install cppcheck

      - name: Install cpplint
        run: python -m pip install cpplint
 
      - name: Install pre-commit
        run: pip install pre-commit
      
      - name: Run pre-commit
        run: pre-commit run --all-files
